

@import "~@fontsource/nunito/index.css";

@font-face {
    font-family: 'mazzardm-lightitalic';
    src: url('../webfonts/mazzardm-lightitalic-webfont.woff2') format('woff2'),
         url('../webfonts/mazzardm-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'mazzardm-light';
    src: url('../webfonts/mazzardm-light-webfont.woff2') format('woff2'),
         url('../webfonts/mazzardm-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'mazzardsoftm-lightitalic';
    src: url('../webfonts/mazzardsoftm-lightitalic-webfont.woff2') format('woff2'),
         url('../webfonts/mazzardsoftm-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'mazzardsoftm-light';
    src: url('../webfonts/mazzardsoftm-light-webfont.woff2') format('woff2'),
         url('../webfonts/mazzardsoftm-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'hua-extralight';
    src: url('../webfonts/hua-extralight-webfont.woff2') format('woff2'),
         url('../webfonts/hua-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'hua-extralightitalic';
    src: url('../webfonts/hua-extralightitalic-webfont.woff2') format('woff2'),
         url('../webfonts/hua-extralightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'hua-thin';
    src: url('../webfonts/hua-thin-webfont.woff2') format('woff2'),
         url('../webfonts/hua-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'hua-thinitalic';
    src: url('../webfonts/hua-thinitalic-webfont.woff2') format('woff2'),
         url('../webfonts/hua-thinitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'hua-light';
    src: url('../webfonts/hua-light-webfont.woff2') format('woff2'),
         url('../webfonts/hua-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'hua-lightitalic';
    src: url('../webfonts/hua-lightitalic-webfont.woff2') format('woff2'),
         url('../webfonts/hua-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'hua-regular';
    src: url('../webfonts/hua-regular-webfont.woff2') format('woff2'),
         url('../webfonts/hua-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'hua-italic';
    src: url('../webfonts/hua-italic-webfont.woff2') format('woff2'),
         url('../webfonts/hua-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'hua-medium';
    src: url('../webfonts/hua-medium-webfont.woff2') format('woff2'),
         url('../webfonts/hua-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'hua-mediumitalic';
    src: url('../webfonts/hua-mediumitalic-webfont.woff2') format('woff2'),
         url('../webfonts/hua-mediumitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'hua-bold';
    src: url('../webfonts/hua-bold-webfont.woff2') format('woff2'),
         url('../webfonts/hua-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'hua-bolditalic';
    src: url('../webfonts/hua-bolditalic-webfont.woff2') format('woff2'),
         url('../webfonts/hua-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'hua-black';
    src: url('../webfonts/hua-black-webfont.woff2') format('woff2'),
         url('../webfonts/hua-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'hua-blackitalic';
    src: url('../webfonts/hua-blackitalic-webfont.woff2') format('woff2'),
         url('../webfonts/hua-blackitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
