@import "../../assets/scss/variable.scss";

:root {
  --bannerimg: url("../../assets/images/banner/bgp5.svg");
}

$bannerimg: var(--bannerimg);

.banner-wrapper {
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: $bannerimg;
  width: 100%;
  height: 800px;
  display: block;
  padding-top: calc(85px + (170 - 85) * ((100vw - 320px) / (1920 - 320)));
  padding-bottom: calc(70px + (180 - 70) * ((100vw - 320px) / (1920 - 320)));
  canvas {
    position: absolute;
    top: 0px;
    // z-index: auto;
    // z-index: 0; for position in front of text elements
    z-index: -1;
    border-bottom: 4px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, #2c89a0 30%, #59a5d8 70%, #d4ff2a 85%, #bbf663 100%);
    box-shadow: 0 4px 9px 0 rgba(20, 20, 20, 0.4), 0 6px 5px 0 rgba(40, 40, 40, 0.1);
  }
  .row {
    align-items: center;
  }
}

.banner-content {
  button {
    z-index: auto;
  }
  .banner-main-title {
    font-size: calc(20px + (60 - 20) * ((100vw - 320px) / (1920 - 320)));
    line-height: calc(26px + (66 - 26) * ((100vw - 320px) / (1920 - 320)));
    margin-bottom: calc(10px + (27 - 10) * ((100vw - 320px) / (1920 - 320)));
    color: $color-white;
    font-weight: 700;
    margin-right: auto;
    h4 span{
      position: relative;
      background-color: white;
      z-index: auto;
    }
  }
  .banner-dec {
    font-size: calc(18px + (20 - 14) * ((100vw - 320px) / (1920 - 320)));
    line-height: calc(20px + (26 - 20) * ((100vw - 320px) / (1920 - 320)));
    margin-bottom: 53px;
  }
  .banner-btn-wrapper Button {
    z-index: 2;
  }
}

.ch-mini-browser {
  box-shadow:  0 4px 9px 0 rgba(240, 210, 210, 0.6);
  }


.banner-image {
  text-align: right;
  position: relative;
  .banner-img {
    margin-right: -53px;
  }
}

/* responsive css */
@media (max-width: 1799px) {
  .banner-image {
    .banner-img {
      margin-right: 0;
    }
  }
}
@media (max-width: 1499px) {
  .banner-image {
    .banner-img {
      max-width: 80%;
    }
  }
  .slider-animation-images {
    .image8 {
      display: none;
    }
  }
}
@media (max-width: 1199px) {
  .banner-wrapper {
    &:before {
      display: none;
    }
  }
  .banner-content {
    .banner-main-title {
      margin-bottom: 10px;
      line-height: normal;
    }
  }
  .banner-content {
    .banner-dec {
      margin-bottom: 20px;
      line-height: normal;
    }
  }
}
@media (max-width: 767px) {
  .banner-content {
    max-width: 80%;
  }
  .banner-image {
    text-align: center;
    .banner-img {
      max-width: 60%;
    }
  }
  .banner-wrapper:before {
    display: none;
  }
  .banner-image {
    display: none;
  }
}
@media (max-width: 480px) {
  .banner-image {
    .banner-img {
      max-width: 80%;
    }
  }
  .banner-content {
    max-width: 100%;
  }
}

/* banner section css end */
