@import "../../assets/scss/variable.scss";
@import "../../assets/scss/colors/nucleotidycolors.scss";

/* features section css start */
.features-wrapper {
  .row {
    align-items: center;
  }
}
.features-content-1 {
  .features-title {
    color: $nhighlight;
    font-size: calc(14px + (24 - 14) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 400;
    position: relative;
    padding-bottom: calc(12px + (18 - 12) * ((100vw - 320px) / (1920 - 320)));
    margin-bottom: calc(14px + (22 - 14) * ((100vw - 320px) / (1920 - 320)));
    //text-transform: capitalize;
  }
}
.features-content-1 {
  &.main-title-wrapper {
    margin-bottom: 0;
    padding-right: 50px;
    text-align: left;
  }
}

.features-content-1 ul{
  font-size: calc(16px + (16 - 14) * ((100vw - 320px) / (1920 - 320)));
  margin: 1.5em 0em;
  color: $color-default;
  li {
    text-indent: -1.2em;
    margin-left: 3em;
    line-height: 1.2em;
    padding-bottom: 0.5em;
  }
  li::before {
    padding: 0;
    color: $nhighlight3;
    font-weight: 600;
    font-size: 1.5em;
    content: '\2192';
    position: relative;
    left: -0.3em;
  }
}

.features-dec {
  margin-bottom: calc(20px + (40 - 20) * ((100vw - 320px) / (1920 - 320)));
}
.features-block2 {
  margin-top: -115px;
}
.features-block-content {
  padding-top: calc(25px + (68 - 25) * ((100vw - 320px) / (1920 - 320)));
}
.features-content {
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  padding: 15px;
  border: 1px solid #eeeeee;
  border-radius: 5px;
  background-color: lighten(#B88B4A,80%);
  //color the text even when mouse is not directly above it: https://stackoverflow.com/questions/4502633/how-to-affect-other-elements-when-one-element-is-hovered
  &:hover .features-dec-content {color: $color-white;}  
  .features-content-dec {
    .features-title {
      color: $nbackground;
      font-size: calc(16px + (24 - 16) * ((100vw - 320px) / (1920 - 320)));
      font-weight: 600;
      position: relative;
      margin-bottom: 5px;
      transition: all 0.5s ease-in-out;
    }
    .features-dec-content {
      margin: 0.5em;
      text-align: left;
    }
  }
}

.features-icon {
  text-align: center;
  position: relative;
  padding: 14px 0;
  span {
    width: 50px;
    height: 50px;
    line-height: 50px;
    display: inline-block;
    vertical-align: middle;
    transition: all 0.5s ease-in-out;
    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      //background: url(../../assets/images/features/img5.png) no-repeat center;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      transform: scale(0.7);
      filter: opacity(0);
      transition: all 0.5s ease-in-out;
    }
    svg {
      width: 31px;
      height: 32px;
      line-height: 32px;
      position: relative;
      z-index: 1;
      color: $nhighlight3;
      transition: all 0.5s ease-in-out;
    }
  }
}
.features-content {
  &:hover {
    background-color: $nbackground;
    box-shadow: rgba(39, 79, 117, 0.2) 0 40px 90px -30px;
    transform: translateY(-10px);
    .features-icon {
      span {
        &:after {
          transform: scale(1.1);
        }
        i {
          -webkit-background-clip: text;
          color: transparent;
        }
      }
    }
  }
}
.features-content:hover {
  .features-icon {
    img {
      box-shadow: 0 0 35px 0 rgba(0, 0, 0, 0.35);
    }
  }
}
.features-block1,
.features-block2 {
  .features-content {
    &.features-0 {
      margin-bottom: calc(20px + (30 - 20) * ((100vw - 320px) / (1920 - 320)));
    }
  }
}
/* responsive css */
@media (max-width: 1199px) {
  .features-maintitle {
    margin-bottom: 10px;
  }
}

@media (max-width: 1199px) {
  .features-content-1 {
    &.main-title-wrapper {
      padding: 0;
    }
  }
  .slider-outer {
    padding-top: 25px;
  }

  .features-title {
    margin-bottom: 5px;
  }
}
@media (max-width: 767px) {
  .features-block2 {
    margin: 0;
  }
}
@media (max-width: 575px) {
  .features-block1 .features-content {
    &.features-1 {
      margin-bottom: calc(20px + (30 - 20) * ((100vw - 320px) / (1920 - 320)));
    }
  }
}
/* features section css end */
